@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

@font-face {
    font-family: whitney-bold;
    src: url('/fonts/whitney-bold.otf');
}

@font-face {
    font-family: whitney-light;
    src: url('/fonts/whitney-medium.otf');
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: whitney-bold, "roboto", sans-serif;
    background-color: #16161a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    transition: background-color 0.4s ease;
    
    flex-wrap: nowrap;
    overflow: hidden;

    margin: 0;
    min-height: 90vh;
}

body.dark {
    background-color: #fff;
}

body.dark .background {
    background-color: #fff;
}

body.dark p {
    color: #d1d1d1;
}

.container .nameChat {
    /* background-color: #72757e; */
    background-color: #1f1f23;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    /* border-bottom: 3px solid black; */
    z-index: 1;

    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0; 
}

.container .nameChat h1 {
    font-size: 20px;
    font-weight: bold;
    /*margin: 2px;*/
    /*margin-bottom: 4px;*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    color: #772ce8;
}

.container .nameChat button {
    /*display: none;*/

    margin: 0;
    padding: 0;
    cursor: pointer;
    /*position: absolute;*/
    /*left: 0px;*/
    outline: none;
    /*margin-left: 20px;*/
    background-color: transparent;
    border: none;
}

.container .nameChat #nameUser {
    position: absolute;
    right: 0px;
    margin-right: 20px;
}

.container .nameChat #sideBar {
    position: absolute;
    left: 0px;
    margin-left: 20px;
}

.container .nameChat button:active {
    transform: scale(1.03);
}

.container .nameChat button i:hover {
    color: #a970ff;
}

.container .nameChat button i {
    margin: 0;
    padding: 0;
    transition: color 0.7s ease;
    font-size: 25px;
    color: #772ce8;
}

.tableRight {
    background-color: #242629;

    transition: all 0.2s ease-out;

    z-index: 3;
    position: fixed;

    /*right: -500px;*/
    /*top: 0;*/

    width: 260px;
    height: 260px;
    opacity: 1;
    /*margin-top: 70px;*/
    /*margin-right: 20px;*/
    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tableRight #sideBarClose1 {
    width: 29px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    
    position: absolute;
    right: 8px;
    top: 8px;
}

.tableRight input {
    border: none;
    border-radius: 8px;
    margin: 4px;
    margin-bottom: 13px;
    text-align: center;
    font-weight: 600;
    /* background-color: #d1d1d1; */
    transition: all 0.5s ease;
    background-color: #2b2e31;;
    color: #d1d1d1;
    font-size: 15px;
    outline: none;
    width: 200px;
    height: 40px;
    padding: 4px;
    padding-bottom: 6px;
}

.tableRight input::placeholder {
    color: #5c5c5c;
    text-align: center;
    font-weight: 600;
    font-size: 15px;
}

.tableRight input:focus {
    color: #2b2b2b;
    background-color: #9c9c9c;
}

.tableRight #usernameBtn {
    margin: 4px;
    padding-bottom: 2px;
    background-color: #772ce8;
    outline: none;
    transition: background-color 0.7s ease;
    font-weight: 900;
    cursor: pointer;
    width: 200px;
    height: 33px;
    letter-spacing: 0.6px;
    border: none;
    border-radius: 8px;
}

.tableRight button i {
    color: #772ce8;
    transition: color 0.7s ease;
    font-size: 25px;
}

.tableRight button:active {
    transform: scale(1.03);
}

.tableRight #sideBarClose1:active {
    /* transform: rotate(315deg); */
    transform: scale(0.90);
}

.tableRight button i:hover {
    color: #a970ff;
}

.tableRight #usernameBtn:hover {
    background-color: #a970ff;
}

.tableRight img {
    height: 95px;
    width: 95px;
    padding: 1px;
    background-color: #772ce8;
    border: 6px solid #772ce8;
    /* background-color:  #5c5c5c; */
    margin-bottom: 10px;
    border-radius: 50%;
}

.tableRight form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tableLeft {
    background-color: #242629;

    transition: all 0.2s ease-out;

    z-index: 3;
    position: fixed;

    /*right: -500px;*/
    /*top: 0;*/

    width: 260px;
    height: 260px;
    opacity: 0;
    /*margin-top: 70px;*/
    pointer-events: none;
    /*margin-right: 20px;*/

    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tableLeft button {
    width: 29px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    
    position: absolute;
    right: 8px;
    top: 8px;
}

.tableLeft button i {
    color: #772ce8;
    transition: color 0.7s ease;
    font-size: 25px;
}

.tableLeft button:active {
    transform: scale(1.03);
}

.tableLeft button i:hover {
    color: #a970ff;
}

.tableLeft #saveColor {
    position: unset;
    margin: 4px;
    padding-bottom: 2px;
    background-color: #772ce8;
    outline: none;
    transition: background-color 0.7s ease;
    font-weight: 900;
    cursor: pointer;
    width: 200px;
    height: 33px;
    letter-spacing: 0.6px;
    border: none;
    border-radius: 8px;
}

.tableLeft a {
    width: 29px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    
    position: absolute;
    left: 10px;
    top: 10px;
    text-decoration: none;
    cursor: pointer;
}

.tableLeft a i {
    color: #1e1e1e;
    font-size: 25px;
}

#small1 {
    margin: 0;
    padding: 0;
    display: none;
    position: relative;
    bottom: 10.5px;
    color: #f25f4c;
    margin-bottom: -10px;
}

small {
    margin: 0;
    padding: 0;
    display: none;
    position: relative;
    bottom: 10.5px;
    color: #f25f4c;
    margin-bottom: -10px;
}

.peoples {
    display: flex;
    position: absolute;
    flex-direction: column;
    float: right;
    left: 0px;
    margin: 40px 30px;
}

.peoples .people i {
    position: relative;
    margin: 0;
    padding: 0;
    right: 15px; 
    top: 21.5px;
}

.peoples .people p {
    margin: 0;
    font-size: 17px;
    padding: 0;
    color: #772ce8;
}

.container {
    transition: all 0.5s ease;
    pointer-events: none;
    width: 100vw;
    height: 100vh;
    opacity: 1;
}

.container.show {
    opacity: 0.3;
    pointer-events: none;
    filter: blur(1px);
}

.background {
    position: fixed;
    bottom: 0;
    left:0;
    transition: background-color 0.4s ease;
    background-color: #16161a;
    z-index: 3;
    width: 100%;
    height: 60px;
}

.sendMessage form{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;

    bottom: 0px;
    left: 0px;
    z-index: 4;
    margin-bottom: 25px;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
}

.sendMessage form button {
    border: none;
    padding: 12px;
    border-radius: 50%;
    margin: 0;
    margin-bottom: -20px;
    outline: none;
    background-color:#1f1f23;
    border: 1px solid #0e0e10;
}

.sendMessage form button:active {
    transform: scale(1.03);
}

.sendMessage input:active {
    -webkit-transform: scale(0.99);
       -moz-transform: scale(0.99);
        -ms-transform: scale(0.99);
         -o-transform: scale(0.99);
            transform: scale(0.99);
}

.sendMessage input {
    border: none;
    padding: 13px;

    width: 100%;
    height: 100%;
    height: 45px;
    outline: none;
    font-size: 20px;
    border-radius: 50px;
    margin: 0;
    margin-bottom: -18px;
    margin-right: 1px;
    background-color:#1f1f23;
    color: #e6e6e6;
    border: 1px solid #0e0e10;
}

.sendMessage form button i {
    font-size: 20px;
    color: #772ce8;
}

.Messages {
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0;
    z-index: 0;
    

    margin-top: 50px;

    overflow-x: hidden;
    overflow-y: auto;
    /* background-color: red; */
}

.Message {
    min-width: 400px;
    /* max-width: 700px; */

    max-height: 350px;
    min-height: 40px;

    min-width: 200px;
    width: 100%;


    margin: 3px;
}

.Message p {
    /*background-color: #772ce8;*/
    padding: 12px;
    padding-top: 6px;
    padding-bottom: 8px;
    /* border-radius: 10px; */
    color: #e6e6e6;

    min-width: 80px;
    max-width: 400px;

    display: flex;
    flex-direction: column;

    margin-top: 0;
    margin-bottom: 0px;
    margin-right: 5px;
    margin-left: 5px;

    word-break: break-all;
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-word;
}

.Message .nick {
    color: #343a40;
    margin-bottom: 2px;
    margin-top: 0px;
}

.Messages .Message:first-child {
    margin-top: 10px;
}

.Messages .Message:last-child {
    margin-bottom: 115px;
}

.Message.Their {
    display: flex;
    float: left;
}

.Message.Your {
    display: flex;
    justify-content: flex-end;
    padding-left: 125px;

    float: right;
}

.Message.Their.purple1 p{
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    background-color: #772ce8;
    float: left;
}

/*.Message.Your p{
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    border-top-right-radius: 14px;
    background-color: #a970ff;
}*/
.Message.Their.purple1 p{
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    background-color: #772ce8;
    float: left;
}

.Message.Their.green1 p{
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    background-color: #2ecf76;
    float: left;
}

.Message.Their.blue1 p{
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    background-color: #033aae;
    float: left;
}

.Message.Their.orange1 p{
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    background-color: #e2563b;
    float: left;
}

.Message.Your.purple p{
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    border-top-right-radius: 14px;
    background-color: #a970ff;
}


.Message.Your.green p{
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    border-top-right-radius: 14px;
    background-color: #bdc473;
}


.Message.Your.blue p{
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    border-top-right-radius: 14px;
    background-color: #588ca4;
}


.Message.Your.orange p{
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    border-top-right-radius: 14px;
    background-color: #d3ce47;
}



::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #242629;
  border-radius: 10px;
}

.colors {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.color {
    height: 45px;
    width: 45px;
    border-radius: 10px;
    margin: 3px;
    cursor: pointer;
    transition: transform 0.6s ease;
}

.color:hover {
    -webkit-transform: scale(1.1);
       -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
         -o-transform: scale(1.1);
            transform: scale(1.1);
}

.color.active {
    height: 48px;
    transition: all 0.2s ease-out;
    width: 48px;
    border: 3px solid #000; 
}

.color.um {
    background: linear-gradient(100deg, #772ce8 9%, #a970ff 99%) 
}

.color.dois {
    background: linear-gradient(100deg, #b9ec8f 9%, #2ecf76 99%) 
}
 
.color.tres {
    background: linear-gradient(100deg, #033aae 9%, #588ca4 99%) 
}

.color.quatro {
    background: linear-gradient(100deg, #d7cf13 9%, #f43710 99%) 
}

.checkbox {
    position: absolute;
    opacity: 0;
}

.label {
    background-color: #111;
    display: flex;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    justify-content: space-between;
    border-radius: 50px;
    margin-bottom: 20px;
    height: 25px;
    width: 80px; 
}

.ball {
    position: absolute;
    top: 3px;
    left: 4px;
    border-radius: 50%;
    background-color: #fff;
    height: 19px;
    width: 19px;
    transition: transform 0.3s ease-out;
}

.checkbox:checked + .label .ball {
    -webkit-transform: translateX(54px);
       -moz-transform: translateX(54px);
        -ms-transform: translateX(54px);
         -o-transform: translateX(54px);
            transform: translateX(54px);
}

.fa-moon {
    color: #f1c40f;
    margin: 5px;
}

.fa-sun {
    color: #f39c12;
    margin: 5px;
}

@media screen and (max-width: 500px) {
    .container .nameChat {
        /* background-color: #72757e; */
        background-color: #242629;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
    
        /* border-bottom: 3px solid black; */
    
        top: 0;
        width: 100%;
        height: 50px;
        margin: 0;
        padding: 0; 
    }
    
    .container .nameChat h1 {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 17px;
        /* color: #72757e; */
        color: #772ce8;
    }
    
    .container .nameChat button {
        margin: 0;
        padding: 0;
/*        position: absolute;
        left: 0px;*/
        outline: none;
        /*margin-left: 20px;*/
        background-color: transparent;
        border: none;
    }
/*
    .tableRight {
        position: absolute;
        left: unset;
        top: unset;
        display: flex;
        justify-content: center;
        align-items: center;
    }*/

    
    .container .nameChat button i {
        margin: 0;
        margin-bottom: 2px;
        padding: 0;
        font-size: 20px;
        color: #772ce8;
    }

    .tableLeft .fas.fa-bars {
        position: relative;
        top: 0.5px;
        color: #772ce8;
        margin: 0;
        font-size: 25px;
    }

    .sendMessage form button {
        border: none;
        padding: 16px;
        border-radius: 50%;
        outline: none;
        background-color:#242629;
        border: 2px solid black;
    }
    
    .sendMessage input {
        border: none;
        padding: 13px;
    
        width: 100%;
        height: 100%;
        outline: none;
        font-size: 20px;
        border-radius: 50px;
        margin-right: 1px;
        background-color:#242629;
        border: 2px solid #0d0d0f;
    }

    .sendMessage form button i {
        font-size: 20px;
        color: #772ce8;
    }

    .background {
        position: absolute;
        bottom: 0;
        left:0;
        background-color: #16161a;
        /* background-color: #fff; */
        width: 100%;
        height: 65px;
    }

    .Message p {
        /*background-color: #772ce8;*/
        padding: 12px;
        padding-top: 6px;
        padding-bottom: 8px;
    
        
        /*min-width: 100px; */
        max-width: 260px;
    
        display: flex;
        /*align-items: center;*/
    
        margin-top: 0;
        margin-bottom: 0px;
        margin-right: 5px;
        margin-left: 5px;
        /* margin-right: 10px; */
        /* padding: 0px; */
    }

    .Message {
        min-width: 200px;
        /* max-width: 700px; */

        max-height: 250px;
        min-height: 40px;

        width: 200px;
        width: 100%;


        margin: 3px;
    }

    .Messages .Message:last-child {
        margin-bottom: 120px;
    }
}
